@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

body{
    display: flex;
    gap: 10px;
}

/* Header Section */
header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(204, 204, 204) ;
    position: sticky;
    top: 0;
}

header h1{
    font-size: 24px;
    font-weight: 300;
    padding: 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

header ul{
    list-style: none;
}

header ul li{
    padding: 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

header ul li:hover{
    background: #ccc;
    transition: 0.3s ease-in-out;
}

header ul li a{
    text-decoration: none;
    color: black;
}

/* Main section */
main{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
}

section{
    scroll-margin: 50px;
}

section h2{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

article{
    padding: 0 10px;
    max-width: 1200px;
}

article p, article ul {
    font-size: 15px;
    padding-bottom: 20px;
}

article ul{
    padding-left: 20px;
}

article ul li{
    padding-bottom: 10px;
}

article code{
    display: block;
    text-align: left;
    white-space: pre-line;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px 10px 20px 10px;
    border-radius: 5px;
    font-size: 15px;
}

